requests
RPi.GPIO
adafruit-blinka
adafruit-circuitpython-max31855
adafruit-circuitpython-lis3dh
adafruit-circuitpython-l3gd20
adafruit-circuitpython-ads1x15
adafruit-circuitpython-pct2075
numpy
raspberrypi-tm1637
pynput
pygame
gpiozero